<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guo.ping.e3mall.search.mapper.SearchItemMapper" >
    <select id="getItemList" resultType="guo.ping.e3mall.common.pojo.SearchItem">
        SELECT
        a.id,
        a.title,
        a.sell_point,
        a.price,
        a.image,
        b.`name` category_name
        FROM
        `tb_item` a
        LEFT JOIN tb_item_cat b ON a.cid = b.id
        WHERE a.`status`=1
    </select>
    <select id="getItemById" parameterType="long" resultType="guo.ping.e3mall.common.pojo.SearchItem">
        SELECT
        a.id,
        a.title,
        a.sell_point,
        a.price,
        a.image,
        b.`name` category_name
        FROM
        `tb_item` a
        LEFT JOIN tb_item_cat b ON a.cid = b.id
        WHERE a.`status`=1
        AND a.id=#{itemId}
    </select>
</mapper>
