<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="mainNav" th:fragment="mainmenu">
    <div class="navmenu">
        <div class="categories" id="public_cate">
            <div class="dt"><a name="sfbest_Uhead_Uhead_menu_all" class="trackref topall"
                               href="http://www.e3mall.cn/html/web/categorys.html">精选商品分类</a></div>
            <div id="allSort" class="dd">
                <div id="booksort">
                </div>

                <!----百度统计代码开始------->

                <!----百度统计代码结束-------></div>
        </div>
        <!----menufloat------->
        <div class="menu1">
            <ul>
                <li><a name="sfbest_hp_hp_nav_nav1" href="http://www.e3mall.cn" class="trackref btndown">首页</a></li>

                <li id="cat1">
                    <a name="sfbest_hp_hp_nav_nav3" class="trackref" href="/fresh/">优选生鲜</a>
                </li>
                <li>
                    <a href="/html/activity/1449221429.html#trackref=sfbest_hp_hp_nav_nav10" target="_blank">全球美食</a>
                </li>
                <li>
                    <a target="_blank" href="/html/activity/1449559102.html#trackref=sfbest_hp_hp_nav_nav11">优选厨房</a>
                </li>
                <li>
                    <a target="_blank" href="/html/activity/1470121728.html#trackref=sfbest_hp_hp_nav_nav12">新品尝鲜</a>
                </li>
                <li id="cat2">
                    <a target="_blank" href="/ht" rel="nofollow">优选国际</a>
                </li>
                <li id="cat3">
                    <a target="_blank" href="/qiye/" rel="nofollow">企业专区</a>
                </li>

                <li class="ad"><a name="sfbest_hp_hp_head_ad_1" class="trackref" href="/html/web/card.html?p=1"
                                  target="_blank"><img alt="优选卡 送健康"
                                                       src="/images/html/7a80fda907bf5107f6967add2a304a51.jpg"
                                                       width="196" height="38"></a></li>
            </ul>
        </div>
        <span class="clear"></span>
    </div>
</div>
</html>