<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/common.css?v=20160713" />
<link rel="stylesheet" type="text/css" href="/css/all.css?v=20160713" />
<link rel="stylesheet" type="text/css" href="/css/jquery.alerts.css" />
<title>出错了 -宜立方商城</title>
<!-- header start -->
<div th:replace="./commons/header::header"></div>
<!-- header end -->
<div th:replace="./commons/mainmenu::mainmenu"></div>
<body>
	<div id="main">
		<!----submenu------->
		<div class="pbox">
			<div class="error_cont">
				<div class="error_box">
					<img src="/images/error_img.jpg">
						<h2>HTTP错误 404 - 文件或目录未找到</h2>
						<p>
							<span id="totalSecond">2</span>秒后自动跳转到首页，如不自动跳转，请按<a
								href="http://www.e3mall.cn/">回到首页</a>
						</p>
						<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<!----mainOver------>
			<div class="clear1"></div>
		</div>
	</div>
	<!-- footer start -->
	<div th:replace="./commons/footer::footer"></div>
	<!-- footer end -->
</body>
</html>